@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}
body,html{
    @apply bg-base-300;
}
i{
    @apply text-xl;
}
.pre{
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1000px) {
    .btm-nav{
        display: none;
    }
}