@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Roboto",Arial, Helvetica, sans-serif;
}
body,html{
    @apply bg-slate-300;
    @apply min-h-screen;
    scroll-behavior: smooth;
}
i{
    @apply text-xl;
}
.pre{
    font-family: "Roboto",Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1000px) {
    .btm-nav{
        display: none;
    }
}
